/* BASE COMPONENT STYLES */

.base-list-item,
.character-list-item {
  border-radius: 4px;
  border: 2px solid var(--color-border-main);
  padding: 16px;
}

.base-list-item {
  background-color: var(color-base-list-bg);
}

.character-list-item {
  background-color: var(--color-character-list-bg);
}

/* INPUT STYLES */
.input-base-item {
  padding: 12px;
  border-radius: 4px;
  background-color: var(--color-input-bg);
  border: 2px solid var(--color-input-border);
  cursor: pointer;
  color: var(--color-white);
  transition: background-color var(--base-animation);
  transition: border-color var(--base-animation);
}

.input-base-item::placeholder {
  color: var(--color-input-placeholder);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input-base-item:focus {
  outline: none;
  border: 2px solid var(--color-input-border-focused);
}

.input-base-item:disabled {
  background-color: var(--color-input-bg-disabled);
}

.input-base-item:disabled::placeholder {
  color: var(--color-input-placeholder-disabled);
}

.input-base-item.error {
  border: 2px solid var(--color-input-border-error);
}

/* FONT STYLES */
.title-text,
.button,
.main-title-text,
.subtitle-text,
.logo-text,
.time-text {
  font-weight: 500;
}

.status-text,
.main-title-text,
.button,
.time-text {
  text-transform: uppercase;
}

.title-text,
.button {
  font-size: 20px;
  line-height: 1.2;
}

.main-title-text {
  font-size: 24px;
  line-height: 1.16667;
}

.status-text {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.description-text {
  font-size: 12px;
  line-height: 1.3333;
}

.time-text {
  font-size: 32px;
}

.logo-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
}

/* BUTTON STYLES */
.button {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  align-items: center;
  transition: background-color var(--base-animation);
  width: 100%;
}

.button-main,
.button-main-icon {
  padding: 16px;
  gap: 8px;
  background-color: var(--color-button-main);
}

.button-main,
.button-secondary {
  justify-content: center;
}

.button-main:hover,
.button-main-icon:hover {
  background-color: var(--color-button-main-hover);
}

.button-main:active,
.button-main-icon:active {
  background-color: var(--color-button-main-active);
}

.button-main:disabled,
.button-main-icon:disabled {
  background-color: var(--color-button-main-disabled);
}

.button-secondary {
  padding: 16px;
  background-color: var(--color-button-secondary);
}

.button-close {
  width: auto;
  padding: 4px;
  align-items: flex-start;
  background-color: var(--color-button-secondary);
}

.button-secondary:hover,
.button-close:hover {
  background-color: var(--color-button-secondary-hover);
}

.button-secondary:active,
.button-close:active {
  background-color: var(--color-button-secondary-active);
}

.button-secondary:disabled,
.button-close:disabled {
  background-color: var(--color-button-secondary-disabled);
}

.button-navigation {
  padding: 12px 16px;
  gap: 36px;
  background-color: var(--color-button-navigation);
}

.button-navigation:hover {
  background-color: var(--color-button-navigation-hover);
}

.button-navigation:active {
  background-color: var(--color-button-navigation-active);
}

.button-navigation:disabled {
  background-color: var(--color-button-navigation-disabled);
}

.button-icon {
  height: 48px;
  padding: 8px 10px;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: var(--color-button-icon);
}

.button-icon:hover {
  background-color: var(--color-button-icon-hover);
}

.button-icon:active {
  background-color: var(--color-button-icon-active);
}

.button-icon:disabled {
  background-color: var(--color-button-icon-disabled);
}

/* BASE CONTAINER */
.base-container {
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}

/* GLOBAL NOTIFICATION */
.global-notification {
  width: 368px;
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--text-black);
}
/* STYLED TOOLTIP */
.styled-tooltip {
  background-color: var(--color-white);
  font-size: 14px;
  color: var(--text-black);
}
/* STYLED TEXTBLOCK */

.styled-textblock-heading {
  font-size: 20px;

  font-weight: 500;
  line-height: 24px; /* 120% */
}
