@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'modern-normalize';
@import './base.css';

/* rgba(167, 65, 65, 1) */

@layer base {
  :root {
    --color-border-main: #7f919b;
    --color-base-list-bg: #7f919b;
    --color-character-list-bg: #232e34;
    --color-button-main: #2c747e;
    --color-button-main-hover: #18606a;
    --color-button-main-active: #182228;
    --color-button-main-disabled: #a5b9bc;
    --color-button-secondary: #a74141;
    --color-button-secondary-hover: #932d2d;
    --color-button-secondary-active: #182228;
    --color-button-secondary-disabled: #d1a9a6;
    --color-button-navigation: #182228;
    --color-button-navigation-hover: #091217;
    --color-button-navigation-active: #2c747e;
    --color-button-navigation-disabled: #27353e;
    --color-button-icon: #7f919b99;
    --color-button-icon-hover: #61737d99;
    --color-button-icon-active: #18222899;
    --color-button-icon-disabled: #bdc3c766;
    --base-animation: 300ms cubic-bezier(0.89, 0.91, 0, 0.65);
    --color-input-bg: #2b383f;
    --color-input-bg-disabled: #354249;
    --color-input-border: #182228;
    --color-input-border-focused: #2c747e;
    --color-input-border-error: #733b3b;
    --color-input-placeholder: #7f919b;
    --color-input-placeholder-disabled: #6b7d87;
    --color-white: #fff;
    --text-black: #182228;
  }
}

#app {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

body {
  height: 100vh;
  background: linear-gradient(316deg, #0e181e 0%, #222c32 100%);
  color: #ffffff;
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;

  background-color: #182228;
}
*::-webkit-scrollbar-thumb {
  border: 2px solid #182228;
  border-radius: 4px;
  background-color: #7f919b;
}

/* BASE TAGS RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

a,
.green {
  text-decoration: underline;
  color: hsla(160, 100%, 37%, 1);
  transition: 400ms;
}
