@import './base.css';
@import 'modern-normalize';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* rgba(167, 65, 65, 1) */

@layer base {
  :root {
    --color-button-main: #2C747E;
    --color-button-main-hover: #18606A;
    --color-button-main-active: #182228;
    --color-button-main-disabled: #A5B9BC;
    --color-button-secondary: #A74141;
    --color-button-secondary-hover: #932D2D;
    --color-button-secondary-active: #182228;
    --color-button-secondary-disabled: #D1A9A6;
    --color-button-navigation: #182228;
    --color-button-navigation-hover: #091217;
    --color-button-navigation-active: #2C747E;
    --color-button-navigation-disabled: #27353E;
  }
}

#app {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

body {
  height: 100vh;
  background: linear-gradient(316deg, #0e181e 0%, #222c32 100%);
  color: #ffffff;
}

body::-webkit-scrollbar {
  background-color: #222c32;
}

/* BASE TAGS RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

a,
.green {
  text-decoration: underline;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* BASE COMPONENT STYLES */

.base-list-item,
.character-list-item {
  border-radius: 4px;
  border: 2px solid #7F919B;
  padding: 16px;
}

.base-list-item {
  background-color: #354249;
}

.character-list-item {
  background-color: #232E34;
}

.input-base-item {
  border-radius: 4px;
  border: 2px solid #182228;
  background: #2B383F;
}

/* FONT STYLES */
.title-text,
.button,
.main-title-text,
.subtitle-text,
.logo-text,
.time-text {
  font-weight: 500;
}

.status-text,
.main-title-text,
.button,
.time-text {
  text-transform: uppercase;
}

.title-text,
.button {
  font-size: 20px;
  line-height: 1.2;
}

.main-title-text {
  font-size: 24px;
  line-height: 1.16667;
}

.status-text {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.description-text {
  font-size: 12px;
  line-height: 1.3333;
}

.time-text {
  font-size: 32px;
}

.logo-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
}

/* BUTTON STYLES */
.button {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  align-items: center;
}

.button-main,
.button-main-icon {
  padding: 16px;
  gap: 8px;
  background-color: var(--color-button-main);
}

.button-main,
.button-secondary {
  justify-content: center;
}

.button-main:hover,
.button-main-icon:hover {
  background-color: var(--color-button-main-hover);
}

.button-main:active,
.button-main-icon:active {
  background-color: var(--color-button-main-active);
}

.button-main:disabled,
.button-main-icon:disabled {
  background-color: var(--color-button-main-disabled);
}

.button-secondary {
  padding: 16px;
  background-color: var(--color-button-secondary);
}

.button-secondary:hover {
  background-color: var(--color-button-secondary-hover);
}

.button-secondary:active {
  background-color: var(--color-button-secondary-active);
}

.button-secondary:disabled {
  background-color: var(--color-button-secondary-disabled);
}

.button-navigation {
  padding: 12px 16px;
  gap: 36px;
  background-color: var(--color-button-navigation);
}

.button-navigation:hover {
  background-color: var(--color-button-navigation-hover);
}

.button-navigation:active {
  background-color: var(--color-button-navigation-active);
}

.button-navigation:disabled {
  background-color: var(--color-button-navigation-disabled);
}